<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270189607804-vngipj4gm4acue4m9kocll9e8tdo19e8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270189607804-vngipj4gm4acue4m9kocll9e8tdo19e8</string>
	<key>API_KEY</key>
	<string>AIzaSyC0sS9nreFOLjTpfn7u0g79-FKrN0ROwjI</string>
	<key>GCM_SENDER_ID</key>
	<string>270189607804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.login.recipeapp</string>
	<key>PROJECT_ID</key>
	<string>loginpage-31f06</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-31f06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270189607804:ios:00d26740f6f625898182f9</string>
	<key>DATABASE_URL</key>
	<string>https://loginpage-31f06.firebaseio.com</string>
</dict>
</plist>